<ng-container *ngFor="let field of config">
  <div class="form-field" *ngIf="isVisible(field)" [formGroup]="formGroup">

    <label [for]="field.name">{{ field.label }}</label>

    <ng-container [ngSwitch]="field.type">

      <input *ngSwitchCase="'text'"
        [id]="field.name" [formControlName]="field.name"
        type="text" [placeholder]="field.placeholder || ''" class="input" />

      <input *ngSwitchCase="'email'"
        [id]="field.name" [formControlName]="field.name"
        type="email" [placeholder]="field.placeholder || ''" class="input" />

      <input *ngSwitchCase="'tel'"
        [id]="field.name" [formControlName]="field.name"
        type="tel" [placeholder]="field.placeholder || ''" class="input" />

      <textarea *ngSwitchCase="'textarea'"
        [id]="field.name" [formControlName]="field.name"
        [placeholder]="field.placeholder || ''" class="input textarea"></textarea>

      <select *ngSwitchCase="'select'"
        [id]="field.name" [formControlName]="field.name" class="input">
        <option value="" disabled>Select…</option>
        <option *ngFor="let opt of field.options" [value]="opt">{{ opt }}</option>
      </select>

      <div *ngSwitchCase="'checkbox'" class="checkbox-row">
        <input type="checkbox" [id]="field.name" [formControlName]="field.name" />
        <span>{{ field.placeholder }}</span>
      </div>

    </ng-container>

    <span class="field-error" *ngIf="getError(field.name)">
      {{ getError(field.name) }}
    </span>
  </div>
</ng-container>